body {
	display: grid;
	grid-template-columns: auto-fill minmax(50px, 200px);
	grid-template-rows: auto auto auto;
	justify-items: center;
	align-items: center;
	background-image: url('https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/pass/pulsar-831502910.jpg');
	background-repeat: no-repeat;
}

#main {
	background-color: lightgray;
	margin-top: 10%;
	box-shadow: 10px 5px 10px;
	border-radius: 10px;
}

#nameDiv {
	border: 2px solid black;
	text-align: center;
}

#dataDiv {
	font-size: 1.6rem;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	border: 2px solid black;
	width: auto;
	padding: 18px;
	text-transform: capitalize;
	font-weight: bold;
}

#btn {
	width: 10%;
	height: auto;
	padding: 20px;
	margin: 20px;
	color: black;
	border-radius: 10px;
	border: 2px solid black;
	box-shadow: 5px 3px 10px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	font-weight: bold;
}

#btn:hover {
	background-color: gray;
}
